html {
  background-color: rgb(243, 235, 255);
}

.body {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #19141f;
  gap: 80px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.dias-semana {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}